header {
    line-height: 15px;
    text-align: center;
    background-color: rgb(255, 255, 182);
    padding-top: 5px;
    padding-bottom: 5px;
}
section {
    display: flex; /* Cria um contêiner flexível */
    justify-content: space-between; /* Adiciona espaçamento entre as divs */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 20px; /* Define o espaçamento fixo entre as divs (opcional) */
}
body{
    background-color: rgb(95, 0, 104);
}

.div1 {
    width: 30%;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 182);
    text-align: center;
}

.div2{
    width: 80%;
    margin-left: 5px; /* Espaçamento entre as divs, opcional */
    background-color: rgb(255, 255, 182);
    text-align: left;
}