header {
    line-height: 15px;
    text-align: center;
    background-color: rgb(255, 255, 182);
    padding-top: 5px;
    padding-bottom: 5px;
}
section {
    margin-top: 5px;
    background-color: rgb(255,255,182);
    width: 15%;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaçamento entre as divs */
    gap: 20px; /* Espaçamento entre as divs */
}
body{
    background-color: rgb(95, 0, 104);
}

div {
    display: inline-block
}